<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 放入到Sping容器中，这是以前Spring的内容，不再累述-->
    <bean id="testService" class="com.yyy.service.impl.TestServiceImpl"/>

</beans>
